.followers-suggestions {
    margin-top: rem(42px);
    margin-left: rem(50px);

    .follow-btn,
    .following-btn,
    .logout {
        cursor: pointer;
        font-size: rem(12px);
        color: #0095F6;
        font-weight: 700;
    }

    .following-btn {
        color: $clr2;
    }

    .curr-user {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .col-1 {
            display: flex;
            align-items: center;
            gap: rem(10px);
            cursor: pointer;

            img {
                width: rem(56px);
                height: rem(56px);
                border-radius: 50%;
                object-fit: cover;
            }

            >* {
                font-size: rem(14px);
            }

            p {
                color: $clr1;
                font-weight: 600;

                &.dark-mode {
                    color: #FAFAFA;
                }
            }

            span {
                color: $clr2;
            }
        }

    }

    .Suggestions {
        margin-top: rem(20px);
        margin-bottom: rem(20px);
        font-size: rem(14px);
        color: $clr2;
    }

    .user-preview {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 300px;

        .col-1 {
            display: flex;
            align-items: center;
            gap: rem(10px);
            cursor: pointer;
        }

        margin-bottom: rem(20px);

        img {
            width: rem(32px);
            height: rem(32px);
            border-radius: 50%;
            object-fit: cover;
        }

        .user-info {
            >* {
                font-size: rem(14px);
                color: $clr1;
                font-weight: 600;
            }
        }
    }

    &.dark-mode {
        p {
            color: #FAFAFA;
        }

        .user-info {
            p {
                color: #FAFAFA;
            }
        }
    }
}

@include for-normal-layout {
    .followers-suggestions {
        display: none;
    }
}