.home-header {
    display: none;
}

@include for-tablet-layout {
    .home-header {
        display: unset;
        position: fixed;
        top: 0;
        border-bottom: 1px solid rgb(219, 219, 219);
        padding: 16px;
        background-color: white;
        z-index: 2000;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .search {
            padding-block: rem(7px);
            border-radius: rem(8px);
            padding-inline: 16px;
            background: $clr3;
            display: flex;
            align-items: center;
            gap: 10px;

            input {
                all: unset;
            }
        }

        &.dark-mode {
            background-color: rgb(0, 0, 0);
            border-bottom: 1px solid rgb(38, 38, 38);
            .search{
                input{
                    color: #FAFAFA;
                }
            }
            a {
                svg {
                    fill: #FAFAFA;
                }
            }


            .search {
                background-color: rgb(38, 38, 38);
            }
        }
    }
}