/* Desktop First */
@mixin for-mobile-layout {
    @media (max-width: $mobile-breakpoint) {
        @content;
    }
}

@mixin for-tablet-layout {
    @media (max-width: $tablet-breakpoint) {
        @content;
    }
}

@mixin for-normal-layout {
    @media (max-width: $normal-breakpoint) {
        @content;
    }
}

@mixin for-wide-layout {
    @media (max-width: $wide-breakpoint) {
        @content;
    }
}



@mixin user-info {
    display: flex;
    align-items: center;
    gap: rem(7px);
    cursor: pointer;

    >* {
        font-size: rem(14px);
    }

    p {
        color: $clr1;
        font-weight: 600;

    }

    span {
        color: $clr2;
    }

    img {
        width: rem(44px);
        height: rem(44px);
        border-radius: 50%;
        object-fit: cover;
    }
}

@mixin follow-btn {
    background-color: rgb(0, 149, 246);
    font-weight: 600;
    color: #ffffff;
    border-radius: rem(8px);
    border: unset;

    &:hover {
        background-color: #1877F2;
    }

    &.Following {
        background-color: rgb(239, 239, 239);
        color: #000000;

        &:hover {
            background-color: #DADDE1;
        }
    }
}

@mixin comment-box {
    margin-top: rem(5px);
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
        cursor: pointer;
        font-size: rem(14px);
        color: #0095F6;
        font-weight: 700;
    }

    .comment-input {
        all: unset;
        margin-top: rem(6px);
        color: $clr2;
        font-size: rem(14px);
    }
}