// Colors
$clr1: #262626;
$clr2: #8E8E8E;
$clr3: rgb(239, 239, 239);
$clr4: rgb(249, 249, 250);
$clr5: rgb(255, 255, 255);

// Breakpoints
$mobile-breakpoint: 500px;
$tablet-breakpoint: 700px;
$normal-breakpoint: 1000px;
$wide-breakpoint: 1250px;